@import 'reset.css';

@font-face {
    font-family: 'Univers-Condensed';
    src: url('../fonts/UniversCom-57Condensed.woff2') format('woff2'),
        url('../fonts/UniversCom-57Condensed.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Univers-Condensed', Arial, sans-serif;
}

body {
    background-color: rgb(243,251,190);
    font-size: 18px;
    line-height: 20px;
}

a {
    color: initial;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
        color: rgb(211,211,211);
    }
}

img {
    vertical-align: middle;
}

svg {
    vertical-align: middle;
}

main {
    padding: 48px 0 80px;
}

.text-center {
    text-align: center;
}

.wrapper {
    padding: 0 16px;
}

.video-container {
    margin-bottom: 24px;
}

.video-wrapper {
    background-color: rgb(0, 0, 0);
    height: 0;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
}

.farfetch-logo {
    margin-bottom: 24px;
}

.farfetch-logo__svg {
    max-width: 260px;
    width: 100%;
}

.description {
    margin-bottom: 40px;
}

.description__copy {
    max-width: 588px;
    margin: auto;
}

.artists {
    margin-bottom: 48px;
}

.artists__image {
    max-width: 234px;
    width: 100%;
}

.nts-logo {
    text-align: center;
}

.nts-logo__svg {
    height: 38px;
    width: 38px;
}


@media only screen and (min-width: 1024px) {
    main {
        padding: 80px 0;
    }

    .wrapper {
        padding: 0 80px;
    }

    .farfetch-logo {
        margin-bottom: 32px;
    }

    .video-container {
        margin-bottom: 32px;
    }

    .artists {
        margin-bottom: 56px;
    }
}
